<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/projectDescription.css">
</head>
<body>

  <!-- displaying project details -->
    <div class="projectDetails">
        <h1>
            <%=project.name%>  
        </h1>
        <h4>
            <%=project.description%>
        </h4>
        <small>
            <%=project.author%>
        </small>
    </div>
    

<!-- partial file for displaying issues -->
<%- include('./filterOptions.ejs');%>

<!-- partial file for displaying issues -->
<%- include('./displayingIssues.ejs');%>

<!-- partial file for creating an issue -->
<%- include('./createAnIssue.ejs');%>

<!-- partial file for taking user input while filtering by author -->
<%- include('./filterByAuthorModel.ejs');%>


  <!-- javascript file included here -->
  <script src="/js/projects.js"></script>

</body>
</html>


